:root {
  color-scheme: light dark;
  color: var(--white);
  --default-font-size: 1.125rem;
  --default-line-height: 1.6;
  --primary: #aed6d2;
  --accent: #1b1b1b;
  --primary-bg-gradient: linear-gradient(
    145deg,
    #0a0a0a 1%,
    #1b1b1b 100%,
    #aed6d2 100%
  );
  --gray: #6b7280;
  --lightgray: #cecfd2;
  --info: #4b7ce6;
  --error: #e04b4b;
  --success: #4be04b;
  --warning: #e0b44b;
  --black: #000000;
  --white: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    Segoe UI Symbol,
    'Noto Color Emoji';
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  background: var(--primary-bg-gradient);
}
